console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 3
auto_upgrade = false
final_space = true

[palette]
  green = '#A9B665'
  grey = '#6c6c6c'
  orange = '#E78A4E'
  yellow = '#D8A657'

[secondary_prompt]
  template = '❯❯ '
  foreground = 'magenta'
  background = 'transparent'

[transient_prompt]
  template = '❯ '
  background = 'transparent'
  foreground_templates = ['{{if gt .Code 0}}red{{end}}', '{{if eq .Code 0}}magenta{{end}}']

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    style = 'plain'
    template = '{{ .Path }} '
    foreground = 'blue'
    background = 'transparent'
    type = 'path'

    [blocks.segments.properties]
      style = 'full'

  [[blocks.segments]]
    style = 'plain'
    template = 'Go {{ .Full }} '
    foreground = 'p:grey'
    background = 'transparent'
    type = 'go'

  [[blocks.segments]]
    style = 'plain'
    template = 'Py {{ .Full }} '
    foreground = 'p:grey'
    background = 'transparent'
    type = 'python'

  [[blocks.segments]]
    style = 'plain'
    template = 'Lua {{ .Full }} '
    foreground = 'p:grey'
    background = 'transparent'
    type = 'lua'

  [[blocks.segments]]
    style = 'plain'
    template = '{{ .HEAD }}{{ if or (.Working.Changed) (.Staging.Changed) }}*{{ end }}<p:green>{{ if gt .Behind 0 }} ⇣{{ end }}{{ if gt .Ahead 0 }} ⇡{{ end }}</> '
    foreground = 'p:green'
    background = 'transparent'
    type = 'git'

    [blocks.segments.properties]
      branch_icon = ''
      commit_icon = '@'
      fetch_status = true

  [[blocks.segments]]
    style = 'plain'
    template = '{{ .FormattedMs }}'
    foreground = 'yellow'
    background = 'transparent'
    type = 'executiontime'

    [blocks.segments.properties]
      threshold = 5000

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    style = 'plain'
    template = '❯'
    foreground = 'magenta'
    background = 'transparent'
    type = 'text'
